//Menu Button
.menu-btn {
    position: absolute;
    z-index: 3;
    right: 2rem;
    top: 2rem;
    cursor: pointer;
    @include easeOut;

    .btn-line{
        width: 2rem;
        height: 0.2rem;
        margin: 0 0 5px 0;
        background: #fff;
        @include easeOut;
        
    }
}